<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.sithiramunasinghe.flutter.flutter_radio_player">

    <!--  Permissions for the plugin  -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--  Services for the plugin  -->
    <application android:usesCleartextTraffic="true"
        android:supportsRtl="true">
        <!-- android:stopWithTask="true" -->
        <service android:name=".core.StreamingCore" />

        <receiver android:name="androidx.media.session.MediaButtonReceiver" >
           <intent-filter>
               <action android:name="android.intent.action.MEDIA_BUTTON" />
               <action android:name="android.media.AUDIO_BECOMING_NOISY" />
           </intent-filter>
        </receiver>
    </application>
</manifest>

